.parent{
 color:#0000FF;
 display: flex;
 padding: 10px;
}
.change {
  color:blue;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  
}
 .child{
   width: 100px;
   padding: 10px;
   margin: 10px;

 }
 .firstview-jpeg {
   position: relative;
   top :30%
 }
img{
  position: absolute;
  top: 100px;
  right: 0PX;
  width: 30%;
}
 .emphasis{
   font-size: 32px;
   font-weight: bold;
}
  .first {
  background-color: blue;
  width: 1000px;
  height:150px;
  margin-bottom: 500px;
  }




