h1{
  color: #0000FF ;
}
.change {
  color: #0000FF
  text-align: right;
}

firstview.jpeg{
  positon: relative;
  left: 400px;
}
.emphasis{
  font-size: 32px;
  font-weight: bold;
}
.div {
　background-color: #0000FF
  width: 150px;
  height  :50px;
}